/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

* {
  box-sizing: border-box;
}

body {
  color: #2e2f42;
  background-color: #ffffff;
}

.page {
  width: 100%;
  padding: 36px 16px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: transparent;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: border-color 250ms ease-in-out;
}

.form input:hover {
  border-color: #000000;
}

.form input:focus {
  border-color: #4e75ff;
}

.form button {
  min-width: 91px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4e75ff;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.form button:hover,
.form button:focus {
  background-color: #6c8cff;
}

.loader {
  margin: 0 auto 32px;
}

.loader-default::after {
  border-color: #4e75ff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  max-width: 1128px;
  margin: 0 auto;
}

.gallery-item {
  overflow: hidden;
  border: 1px solid #808080;
  background-color: #ffffff;
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 250ms ease-in-out;
}

.gallery-link:hover .gallery-image,
.gallery-link:focus .gallery-image {
  transform: scale(1.03);
}

.gallery-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 4px 8px;
  text-align: center;
}

.gallery-info-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.gallery-info-title {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.load-more {
  display: block;
  min-width: 125px;
  height: 40px;
  margin: 32px auto 24px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4e75ff;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.load-more:hover,
.load-more:focus {
  background-color: #6c8cff;
}

.loader {
  display: none;
  margin: 0 auto 32px;
}

.loader.is-active {
  display: block;
}

.is-hidden {
  display: none;
}
